openapi: 3.1.0
x-stoplight:
  id: 8yvigo6t91nhp
info:
  version: 3.0.0
  title: ID-Pal API
  summary: The ID-Pal API is a RESTful API that makes it simple to interact with the ID-Pal service in real time.
  description: "If you intend to make requests or use the cURL generated by this document please ensure you have added your access token to the 'Authorize' modal/input field located to the top right of this document.\r\nFailure to do this will result in an un-authorised response and you will not be able to interact with our API. If you do not have an access token, please contact your ID-Pal representative.\r\n\r\n"
  termsOfService: ''
  contact:
    name: Admin Developer
    url: admin@id-pal.com
    email: admin@id-pal.com
  license:
    name: Proprietary - Use Requires a License
    url: https://www.id-pal.com/contact/
servers:
  - url: https://client.id-pal.com/3.0.0
    description: ID-Pal API Server
components:
  parameters:
    Authorization:
      name: Authorization
      in: header
      description: Bearer <access_token>
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  requestBodies:
    Submission-Verification-Overwrite:
      content:
        application/json:
          schema:
            type: object
            properties:
              overwrite:
                type: string
                enum:
                  - pass
                  - flag
                description: Set the overwrite value to overwrite the verification outcome
                examples:
                  - pass
              note:
                type: string
                description: Set a note that will be saved against the overwrite so the reason(s) for overwriting can be recorded.
                examples:
                  - User change note
            required:
              - overwrite
          examples:
            Example 1:
              value:
                overwrite: pass
                note: User change note
    AppLink-Send:
      description: "> Note: `information_type` and `contact` both need to be populated for the message to be sent.\r\n\r\n> Note: By leaving `information_type` and `contact` empty the UUID will be generated and the message will not be sent.\r\n\r\n> Note: The `message_content` parameter requires `<AppLink>`. This string will be replaced with the actual app link sent with SMS/Email."
      content:
        application/json:
          schema:
            type: object
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
              profile_id:
                type: integer
                description: This parameter allows you to set the app profile for the customer app before sending app link. This can be found in the response of the getAppProfiles API service.
                examples:
                  - 1
              information_type:
                type: string
                enum:
                  - text
                  - email
                description: If you are searching for a customer by email then set this value to email otherwise set it to text.
                examples:
                  - text
              contact:
                type: string
                description: This parameter allows you to set the recipient’s email or telephone number. Remember to set the correct information_type.
                examples:
                  - +91XXXXXXXXXX
              account_id:
                type: string
                description: Set an account ID from which you can identify the customer with your own internal systems.
                examples:
                  - '1'
              firstname:
                type: string
                description: Set the firstname from which it will be populated in the customer app automatically when OCR details could not be populated.
                examples:
                  - John
              lastname:
                type: string
                description: Set the lastname from which it will be populated in the customer app automatically when OCR details could not be populated.
                examples:
                  - Doe
              language:
                $ref: '#/components/schemas/language'
              business_representative:
                type: string
                description: Set the advisor name or business representative name.
                examples:
                  - Tom
              message_subject:
                type: string
                description: Set the subject message for emails.
                examples:
                  - App Link from API Services
              message_content:
                type: string
                description: "Manually set the message body for the SMS/Email. \r\n`<AppLink>` tag is reuired. This string will be replaced with the actual app link when sending the SMS/Email."
                examples:
                  - Hi there \n This is your unique link. \n\n <AppLink> \n\n Thank you \n ID-Pal
              link_type:
                type: string
                enum:
                  - web
                  - native
                description: Set the application link type which directs users to 'native' or 'web' application. Native sent by default.
                default: native
                examples:
                  - web
              primary_colour:
                type: string
                description: Override the primary Hex color code colour ( located in the 'Account' section on portal ).
                default: '#2F76BC'
                examples:
                  - '#218624'
            required:
              - client_key
              - access_key
              - profile_id
          examples:
            Example 1:
              value:
                client_key: XXXXXXXX
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
                profile_id: 1
                information_type: text
                contact: +91XXXXXXXXXX
                account_id: '1'
                firstname: John
                lastname: Doe
                language: en
                business_representative: Tom
                message_subject: App Link from API Services
                message_content: Hi there \n This is your unique link. \n\n <AppLink> \n\n Thank you \n ID-Pal
                link_type: native
                primary_colour: '#2F76BC'
    AppLink-Status:
      content:
        application/json:
          schema:
            type: object
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
              uuid:
                $ref: '#/components/schemas/uuid'
              days:
                type: integer
                description: Set the last number of days of submissions you want to be returned. Only positive digits are accepted.
                examples:
                  - 23
              status:
                $ref: '#/components/schemas/status'
              account_id:
                type: string
                description: Filter results by an Account ID which can identify the customer with your own internal systems.
                examples:
                  - '23'
              language:
                $ref: '#/components/schemas/language'
              detailed_status:
                type: boolean
                description: Enables more detailed statuses to be provided by the authentication_data and facial_match fields other than just Pass or Fail.
                default: false
            required:
              - client_key
              - access_key
              - uuid
          examples:
            Example 1:
              value:
                client_key: 99B404BA
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
                uuid: string
                days: 23
                status: 0
                account_id: '23'
                language: en
                detailed_status: true
    AppLink-Complete:
      content:
        application/json:
          schema:
            type: object
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
              uuid:
                $ref: '#/components/schemas/uuid'
                description: Passing a uuid will mark that uuid as having been extracted, remove any PII associated with the uuid or submissions against it, and prevent further submissions to the uuid.
            required:
              - client_key
              - access_key
              - uuid
          examples:
            Example 1:
              value:
                client_key: 99B404BA
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
                uuid: 462c6d1f
    AppLink-Cancel:
      description: ''
      content:
        application/json:
          schema:
            type: object
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
              uuid:
                $ref: '#/components/schemas/uuid'
                description: Passing a uuid will mark that uuid as having been abandoned with extracting submission data remove any PII associated with the uuid or submissions against it and prevent further submissions to the uuid.
            required:
              - client_key
              - access_key
              - uuid
          examples:
            Example 1:
              value:
                client_key: 99B404BA
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
                uuid: 0e3f0be9
    Submission-Status:
      content:
        application/json:
          schema:
            type: object
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
              uuid:
                $ref: '#/components/schemas/uuid'
              submission_id:
                type: string
                description: Passing a submission id will return the details for a specific submission.
                examples:
                  - '23'
              days:
                type: integer
                description: Set this to return every submission updated in the last n number of days. Only positive digits are accepted.
                examples:
                  - 4
              status:
                $ref: '#/components/schemas/status'
              account_id:
                type: string
                description: Filter results by an Account ID which can identify the customer with your own internal systems.
                examples:
                  - CUST1003
              language:
                $ref: '#/components/schemas/language'
                description: Filter results by the target language code. Supported languages and their ISO codes can be retrieved from the Get Dictionary Languages API service.
              detailed_status:
                type: boolean
                description: Enables more detailed statuses to be provided by the authentication_data and facial_match fields other than just Pass or Fail.
                default: false
            required:
              - client_key
              - access_key
              - uuid
          examples:
            Example 1:
              value:
                client_key: 99B404BA
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
                uuid: 0e3f0be9
                submission_id: '23'
                days: 4
                status: 0
                account_id: CUST1003
                language: en
                detailed_status: false
    Submission-CDD_Report:
      content:
        application/json:
          schema:
            type: object
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
              submission_id:
                type: integer
                description: Passing a submission ID will return only the details for a specific submission.
                examples:
                  - 23
              content_disposition:
                type: string
                enum:
                  - inline
                  - attachment
                description: Sets the returned Content-Disposition header, type 'inline' returned by default. Type 'attachment' required by Swagger.
            required:
              - client_key
              - access_key
              - submission_id
          examples:
            Example:
              value:
                client_key: XXXXXXXX
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
                submission_id: 23
                content_disposition: inline
    Submission-Details:
      content:
        application/json:
          schema:
            type: object
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
              submission_id:
                type: integer
                description: Passing a submission ID will return only the details for a specific submission.
              content_disposition:
                $ref: '#/components/schemas/content_disposition'
            required:
              - client_key
              - access_key
              - submission_id
          examples:
            Example 1:
              value:
                client_key: XXXXXXXX
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
                submission_id: 0
                content_disposition: inline
    Submission-Document:
      description: '>Note: `document_type` or `document_id` are required'
      content:
        application/json:
          schema:
            type: object
            required:
              - client_key
              - access_key
              - submission_id
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
              submission_id:
                type: integer
                description: Passing a submission ID will return only the documents for a specific submission
              document_type:
                type: string
                description: Indicates the type of document the customer captured during the submission. The type of the document can be retrieved from the Get Submission Status or the Get Application Link/UUID Status API service.
              document_id:
                type: integer
                description: Indicates the inserted id of the document image or pdf file which can be retrieved from Get Submission Status or the Get Application Link/UUID Status API service.
          examples:
            Example 1:
              value:
                client_key: XXXXXXXX
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
                submission_id: 0
                document_type: string
                document_id: 0
    Submission-Alerts:
      content:
        application/json:
          schema:
            type: object
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
              per_page:
                type: integer
                description: Number of submissions to be returned with the pagination.
                minimum: 1
                maximum: 50
                default: 10
                examples:
                  - 25
              page:
                type: integer
                description: The pagination page.
                default: 1
            required:
              - client_key
              - access_key
          examples:
            Example 1:
              value:
                client_key: XXXXXXXX
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
                per_page: 10
                page: 1
    Submission-Complete:
      content:
        application/json:
          schema:
            type: object
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
              id:
                type: integer
                description: Passing a submission ID will mark that submission as having been extracted and remove any PII associated with the submission.
                examples:
                  - 23
            required:
              - client_key
              - access_key
              - id
          examples:
            Example 1:
              value:
                client_key: XXXXXXXX
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
                id: 23
    Submission-Notification-Send:
      content:
        application/json:
          schema:
            type: object
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
              submission_id:
                type: integer
                description: The submission ID of the user who you want to send the notification to.
                examples:
                  - 23
              notification_message:
                type: string
                description: Content of the message.
                examples:
                  - Message
            required:
              - client_key
              - access_key
              - submission_id
              - notification_message
          examples:
            Example 1:
              value:
                client_key: XXXXXXXX
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
                submission_id: 23
                notification_message: Message
    Submission-Address-Verify:
      content:
        application/json:
          schema:
            type: object
            properties:
              first_name:
                type: string
                description: Clients first name.
                examples:
                  - John
              last_name:
                type: string
                description: Clients last name.
                examples:
                  - Doe
              date_of_birth:
                type: string
                description: Clients date of birth.
                examples:
                  - '1990-01-01'
              address_1:
                type: string
                description: Clients address line one.
                examples:
                  - 123 Main St
              address_2:
                type: string
                description: Clients address line two.
              locality:
                type: string
                description: Clients locality.
                examples:
                  - Ireland
              postal_code:
                type: string
                description: Clients postal code.
                examples:
                  - D01XXXX
              country_code:
                type: string
                description: Clients country code (alpha 2).
                examples:
                  - IE
              custom_field:
                type: string
                description: Clients national ID number this field can be required based on the country.
            required:
              - first_name
              - last_name
              - date_of_birth
              - address_1
              - locality
              - country_code
          examples:
            Example 1:
              value:
                client_key: 99B404BA
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
                first_name: John
                last_name: Doe
                date_of_birth: '1990-01-01'
                address_1: 123 Main St
                address_2: string
                locality: string
                postal_code: string
                country_code: NU
                custom_field: string
    Submission-CDD_Report-Generate:
      content: {}
    Submission-Create:
      content:
        application/json:
          schema:
            type: object
            properties:
              uuid:
                $ref: '#/components/schemas/uuid'
                description: Passing a uuid (Get Application Link/UUID Status services’ response) will create a submission with profile linked to application instance.
              email:
                type: string
                description: Set the email submission value.
                examples:
                  - john@doe.com
              first_name:
                type: string
                description: Set the first name submission value.
                examples:
                  - John
              last_name:
                type: string
                description: Set the last name submission value.
                examples:
                  - Doe
              phone_prefix:
                type: string
                description: Set the phone prefix submission value.
                examples:
                  - '+1'
              phone:
                type: string
                description: Set the phone submission value.
                examples:
                  - '12345678'
              gnder:
                type: string
                enum:
                  - male
                  - female
                description: Set the gender submission value.
              address_1:
                type: string
                description: Set the address line 1 submission value.
                examples:
                  - 12 Main St.
              address_2:
                type: string
                description: Set the address line 2 submission value.
              city:
                type: string
                description: Set the city submission value.
                default: LA
              county:
                type: string
                description: Set the phone submission value.
                examples:
                  - LA
              postal_code:
                type: string
                description: Set the postal code submission value.
                examples:
                  - LA
              country_of_birth:
                type: string
                description: Set the country of birth submission value.
                examples:
                  - United States
              date_of_birth:
                type: string
                description: "Set the date of birth submission value.\r\nRequired format: YEAR-MONTH-DAY"
                examples:
                  - '2010-12-30'
            required:
              - uuid
          examples:
            Example 1:
              value:
                uuid: 0e3f0be9
                email: john@doe.com
                first_name: John
                last_name: Doe
                phone_prefix: '+1'
                phone: '12345678'
                gnder: male
                address_1: 12 Main St.
                address_2: string
                city: LA
                county: LA
                postal_code: LA
                country_of_birth: United States
                date_of_birth: '2010-12-30'
    AccessToken-Get:
      content:
        application/json:
          schema:
            type: object
            required:
              - client_key
              - access_key
              - client_id
              - refresh_token
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
              client_id:
                type: integer
                description: Passing a client ID will return only the details for a specific client. Initially user will get the client id while creating the new client.
                examples:
                  - 23
                example: 12
              refresh_token:
                type: string
                description: "Passing the correct refresh token is required to get a new access_token and refresh_token. Initially user will get the refresh token while creating the new client.\n\nIf by chance there is a connection issue during the request to this API service and the response is not received, you can send the same request again until you have used the newly created access_token. \nThe refresh_token returned from the last call to this service should be used for subsequent calls. Once the new access_token is used in one of the services, the old access_token and refresh_token are revoked.\n"
                examples:
                  - def502002e964313866a06dd3…
                example: def502002e964313866a06dd3…
          examples:
            Example 1:
              value:
                client_key: XXXXXXXX
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
                client_id: 13
                refresh_token: def502002e964313866a06dd3…
    AppProfile-Get:
      content:
        application/json:
          schema:
            type: object
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
              id:
                type: integer
                description: Passing a profile ID (can be found in the Get Submission Status or Get Application Link/UUID Status services’ response) will return only the details for a specific app profile.
                examples:
                  - 1
            required:
              - client_key
              - access_key
              - id
          examples:
            Example 1:
              value:
                client_key: XXXXXXXX
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
                id: 1
    AppProfile-GetAll:
      description: ''
      content:
        application/json:
          schema:
            type: object
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
            required:
              - client_key
              - access_key
          examples:
            Example 1:
              value:
                client_key: XXXXXXXX
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
    Event-Acknowledge:
      content:
        application/json:
          schema:
            type: object
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
              event_id:
                type: integer
                description: Passing an event ID will mark that event has having been received and prevent further retries to notify of this event.
                examples:
                  - 12
            required:
              - client_key
              - access_key
              - event_id
          examples:
            Example 1:
              value:
                client_key: XXXXXXXX
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
                event_id: 12
    Language-GetAll:
      description: ''
      content:
        application/json:
          schema:
            type: object
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
            required:
              - access_key
          examples:
            Example 1:
              value:
                client_key: XXXXXXXX
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
    Event-Create:
      content:
        application/json:
          schema:
            type: object
            required:
              - client_key
              - access_key
              - event_type
              - callback_url
              - secret
              - retry_attempts
              - retry_minutes
            properties:
              client_key:
                $ref: '#/components/schemas/client_key'
              access_key:
                $ref: '#/components/schemas/access_key'
              event_type:
                type: array
                description: This parameter allows specifying the event type(s) that need to be created and subscribed. This parameter allows passing one or more types
                items:
                  type: string
                  enum:
                    - new_submission_start
                    - submission_complete
                    - submission_expired
                    - ping
                    - cdd_complete
                    - submission_rejected
                    - post_submission_additional_document_uploaded
                    - new_matches
                    - reject_peps_decision
                    - cdd_report_update
                  examples:
                    - new_submission_start
              callback_url:
                type: string
                description: This parameter allows configuring the webhook’s callback URL.
                examples:
                  - https://xxxx.com
              secret:
                type: string
                description: This parameter allows setting a secret for webhook events. This secret is used in hashing the payload to create the signature.
                examples:
                  - XXXXXXX
              retry_attempts:
                type: integer
                description: This parameter allows setting the number of retries that will be attempted.
                maximum: 3
                examples:
                  - 2
              retry_minutes:
                type: integer
                description: This parameter allows setting the time between two retry attempts.
                maximum: 60
                examples:
                  - 60
              authentication_type:
                type: string
                enum:
                  - salesforce
                  - none
                description: 'This parameter will allow setting an Authentication type for webhook events. Possible values: Salesforce, None.'
                default: none
                examples:
                  - salesforce
          examples:
            Example 1:
              value:
                client_key: 99B404BA
                access_key: EXXXXXXX-XXXX-XXXX-XXXX-A873C40E1273
                event_type:
                  - new_submission_start
                callback_url: string
                secret: string
                retry_attempts: 2
                retry_minutes: 30
                authentication_type: salesforce
    UUID-Generate:
      content:
        application/json:
          schema:
            type: object
            properties:
              email:
                type: string
                description: This parameter allows you to set the recipient's email address
                examples:
                  - ben_doe@gmail.com
              phone:
                type: string
                description: "This parameter allows you to set the recipient's telephone number\r\n> Note: The phone number provided shoule be in international `E164` frormat."
                examples:
                  - 012345678
              account_id:
                type: string
                description: Set an account ID from which you can identify the customer with your own internal systems.
                examples:
                  - '21'
              firstname:
                type: string
                description: Set the firstname from which it will be populated in the customer app automatically when OCR details could not be populated.
                examples:
                  - Ben
              lastname:
                type: string
                description: Set the lastname from which it will be populated in the customer app automatically when OCR details could not be populated.
                examples:
                  - Doe
              language:
                $ref: '#/components/schemas/language'
              business_representative:
                type: string
                description: This parameter allows you to set the advisor name or business representative name.
                examples:
                  - John Doe
              phone_prefix:
                type: string
                description: Phone Prefix
                examples:
                  - '+1'
          examples:
            Example 1:
              value:
                email: ben_doe@gmail.com
                phone: '012345678'
                account_id: '21'
                firstname: Ben
                lastname: Doe
                language: en
                business_representative: John Doe
                phone_prefix: '+1'
  responses:
    422-Errors:
      description: Request could not be processed due to a conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      examples:
                        - Could not generate report, [address, document, biometric] technical checks need to overridden.
                    code:
                      type: integer
                      description: Error status code.
                      examples:
                        - 409
                    detail:
                      type: string
                      description: Primary error message.
                      examples:
                        - Could not generate report, [address, document, biometric] technical checks need to overridden.
                  required:
                    - code
                    - detail
          examples:
            Example 1:
              value:
                errors:
                  - id: Could not generate report, [address, document, biometric] technical checks need to overridden.
                    code: 409
                    detail: Could not generate report, [address, document, biometric] technical checks need to overridden.
            Example 2:
              value:
                errors:
                  - code: 422
                    detail: Could not process request, invalid contents.
            Example 3:
              value:
                errors:
                  - code: 403
                    detail: Access forbidden.
    Success:
      description: "Success or Error response.\r\n\r\nExpected Status Error Codes:\r\n- 1 - Your client key is missing. Please check your post parameters.\r\n- 2 - Your access key is missing. Please check your post parameters.\r\n- 3 - Your client key is invalid. Please check your post parameters.\r\n- 4 - Your access key is invalid. Please check your post parameters.\r\n- 21 - Your uuid is invalid. Please check your post parameters.\r\n- 24 - Your uuid is missing. Please check your post parameters.\r\n- 35 - Your company account has been closed. Please contact your administrator.\r\n- 36 - The request input format is incorrect can you please check the input format."
      content:
        application/json:
          schema:
            type: object
            anyOf:
              - type: object
                description: Success Response
                properties:
                  success:
                    type: boolean
                    description: Success Response
                    default: true
              - $ref: '#/components/schemas/ErrorCode'
          examples:
            Example 1:
              value:
                success: true
            Error 3:
              value:
                error: Access token expired. Please create token using get access token URL given below
                url: https://client.id-pal.com/3.0.0/api/getAccessToken
            Error 1:
              value:
                status: 1
                message: client key missing
    401-Unauthorised:
      description: Unauthorised
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                examples:
                  - Access token expired. Please create token using get access token URL given below
              url:
                type: string
                examples:
                  - https://client.id-pal.com/3.0.0/api/getAccessToken
          examples:
            Example 1:
              value:
                error: Access token expired. Please create token using get access token URL given below
                url: https://client.id-pal.com/3.0.0/api/getAccessToken
    403-Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              id:
                type: string
                examples:
                  - Address verification can not be performed, feature not available.
              code:
                type: integer
                description: Error Code
                examples:
                  - 403
              detail:
                type: string
                description: Error Detail
                examples:
                  - You are not permitted to access this feature
          examples:
            Example 1:
              value:
                id: Address verification can not be performed, feature not available.
                code: 403
                detail: You are not permitted to access this feature
    429-TooManyRequests:
      description: Too many requests
      content:
        application/json:
          schema:
            type: object
            anyOf:
              - type: object
                properties:
                  success:
                    type: boolean
                    description: Success Status
                    default: false
                  message:
                    type: string
                    description: Success Message
                    examples:
                      - Too many attempts have been made that exceeds the limit of 80 requests per minutes. Please try again after a minute.
              - type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Error info
                          examples:
                            - Submission can not be created. Limit of submission for current uuid has been reached.
                        code:
                          type: integer
                          description: Error Code
                          default: 429
                          examples:
                            - 429
                        detail:
                          type: string
                          description: Error Details
                          examples:
                            - Submission can not be created. Limit of submission for current uuid has been reached.
          examples:
            Example 1:
              value:
                success: false
                message: Too many attempts have been made that exceeds the limit of 80 requests per minutes. Please try again after a minute.
            Example 2:
              value:
                errors:
                  - id: Submission can not be created. Limit of submission for current uuid has been reached.
                    code: 429
                    detail: Submission can not be created. Limit of submission for current uuid has been reached.
    409-Conflict:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      examples:
                        - Could not generate report, address technical checks need to be overridden.
                    code:
                      type: integer
                      default: 409
                      examples:
                        - 409
                    detail:
                      type: string
                      examples:
                        - Could not generate report, address technical checks need to be overridden.
          examples:
            Example 1:
              value:
                errors:
                  - id: Could not generate report, address technical checks need to be overridden.
                    code: 409
                    detail: Could not generate report, address technical checks need to be overridden.
                  - id: Could not generate report, document technical checks need to be overridden.
                    code: 409
                    detail: Could not generate report, document technical checks need to be overridden.
    Dictionary-Langages:
      description: "Expected status error codes:\r\n- 1 - Your client key is missing.\r\n- 2 - Your access key is missing.\r\n- 3 - Your client key is invalid.\r\n- 4 - Your access key is invalid.\r\n- 35 - Your company account has been closed. Please contact your administrator.\r\n- 36 - The request input format is incorrect can you please check the input format."
      content:
        application/json:
          schema:
            type: object
            oneOf:
              - type: object
                properties:
                  success:
                    type: boolean
                    description: This indicates that retrieving the details was successful.
                    default: true
                    examples:
                      - true
                  dictionary_languages:
                    type: array
                    description: Returns an array of languages available in the ID-Pal web platform.
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: This indicates the language’s code set on the ID-Pal web platform.
                          examples:
                            - en
                        description:
                          type: string
                          description: This indicates the language’s full name set on the ID-Pal web platform.
                          examples:
                            - English
              - $ref: '#/components/schemas/Error'
          examples:
            Example 1:
              value:
                success: true
                dictionary_languages:
                  - code: en
                    description: English
    Submission-Status:
      description: "Expected error codes:\r\n- 1 - Your client key is missing. Please check your post parameters.\r\n- 2 - Your access key is missing. Please check your post parameters.\r\n- 3 - Your client key is invalid. Please check your post parameters.\r\n- 4 - Your access key is invalid. Please check your post parameters.\r\n- 15 - Your submission id is invalid. Please check your post parameters.\r\n- 16 - Your account id is invalid. Please check your post parameters.\r\n- 31 - Invalid status code. Please check your post parameters. \r\n- 33 - Your language code is invalid. Please check your post parameters.\r\n- 35 - Your company account has been closed. Please contact your administrator.\r\n- 36 - The request input format is incorrect can you please check the input format."
      content:
        application/json:
          schema:
            type: object
            oneOf:
              - type: object
                properties:
                  submissions:
                    type: array
                    items:
                      type: object
                      properties:
                        uuid:
                          $ref: '#/components/schemas/uuid'
                        submission_id:
                          type: integer
                          description: A unique identifier of a submission.
                          examples:
                            - 26
                        address_verification_result:
                          type: string
                          enum:
                            - pass
                            - fail
                            - flag
                            - alert
                          description: "This indicates the e-verification results status of the submissions.\r\nExpected Value: pass (or) flag (or) alert."
                          examples:
                            - pass
                        profile_id:
                          type: integer
                          description: This indicates the id of the profile used for the submission.
                          examples:
                            - 5
                        profile_name:
                          type: string
                          description: This indicates the name of the app profile used for the submission.
                          examples:
                            - Default Profile
                        status:
                          type: integer
                          description: "Submission statuses:\r\n- 0 - No submission received\r\n- 1 - Submission received and no errors in technical checks but report not generated\r\n- 2 - Submission received with errors in technical checks and report not generated\r\n- 3 - Report Flagged by user\r\n- 4 - CDD generated and all technical checks passed\r\n- 5 - CDD generated but some technical checks failed (i.e. manually over-ride was used)\r\n- 6 - Submission has been rejected by user\r\n"
                          examples:
                            - 4
                        api_customerinfo:
                          type: integer
                          description: "Customer details of the submission have been retrieved using “api/submission/details” endpoint.\r\n- 0 - Customer details has not been retrieved. \r\n- 1 - Customer details has been retrieved."
                          examples:
                            - 0
                        api_cddreport:
                          type: integer
                          description: "CDD report of the submission has been retrieved using api/submission/cdd-report endpoint.\r\n- 0 - CDD report has not been retrieved\r\n- 1 - CDD report has been retrieved"
                          examples:
                            - 0
                        account_id:
                          type: string
                          description: Returns an Account ID if it has been set either on the ID-Pal web platform or business app.
                          examples:
                            - CUST1003
                        language_code:
                          $ref: '#/components/schemas/language'
                          description: Returns the language code the submission was completed in. Supported languages and their ISO codes can be retrieved from the Get Dictionary Languages API service.
                        business_representative:
                          type: string
                          description: Returns a Business Representative or Advisor name of the UUID.
                          examples:
                            - John Smith
                        liveness_test:
                          type: string
                          enum:
                            - pass
                            - fail
                            - alert
                            - flag
                          description: "Live face detected of the person.\r\n- Pass: Live face is detected during liveness test of the person.\r\n- Flag: Live face is not detected during liveness test of the person.\r\n"
                          examples:
                            - pass
                        id_detect_result:
                          type: string
                          enum:
                            - pass
                            - fail
                            - flag
                          description: "Aggregate result of all ID-Detect document liveness checks for this submission.\r\n- Pass: Document has passed all enabled ID-Detect tests.\r\n- Flag: Document image quality is not sufficient for reliable ID-Detect results.\r\n- Alert: Document has failed ID-Detect tests.\r\n"
                          examples:
                            - pass
                        documents:
                          type: array
                          items:
                            type: object
                            properties:
                              document_type:
                                type: string
                                description: The document_type indicates which type of document was captured via the mobile app/web app.
                                examples:
                                  - passport
                              authentication_data:
                                type: string
                                enum:
                                  - pass
                                  - fail
                                  - flag
                                  - alert
                                  - pending
                                  - no technical checks
                                description: "Overall document authentication result.\r\n- Pass: No indication that the document is fraudulent therefore the document passed the authentication process.\r\n- Fail: There were one or more issues with the document authentication process.\r\n- Flag: The document has been put through the authentication process but one or more issues have been found.\r\n- Alert: One or more technical checks have failed on the document.\r\n- Pending: The document authentication has not been yet.\r\n- No technical checks: No technical checks were performed on the document.\r\n"
                                examples:
                                  - pass
                              facial_match:
                                type: string
                                description: "Facial comparison image which is submitted from the mobile app has passed or failed.\r\n- Pass: High confidence rating that the document and liveness images are the same person.\r\n- Flag: Average confidence rating that the document and liveness are the same person.\r\n- Alert: The document and liveness images are not the same person.\r\n- Pending: Facial comparison has not been performed yet.\r\n- No facial checks: Facial comparison could not be performed with the submitted document."
                                examples:
                                  - Pass
                              facial_match_score:
                                type: integer
                                description: Indicates the percentage match of the facial comparison image which is submitted from the mobile app.
                                examples:
                                  - 80
                              document_id:
                                type: integer
                                description: The document_id indicates the unique id of the submission document inserted into the database.
                                examples:
                                  - 4
                              manually_reviewed:
                                type: boolean
                                description: Indicates whether the Passport or DL document is manually reviewed or not in submission review flow.
              - $ref: '#/components/schemas/Error'
          examples:
            Example 1:
              value:
                submissions:
                  - uuid: 4XXXXXXf
                    submission_id: 26
                    address_verification_result: pass
                    profile_id: 5
                    profile_name: Default Profile
                    status: 4
                    api_customerinfo: 0
                    api_cddreport: 0
                    account_id: CUST1003
                    language_code: en
                    business_representative: John Smith
                    liveness_test: pass
                    id_detect_result: pass
                    documents:
                      - document_type: passport
                        authentication_data: pass
                        facial_match: Pass
                        facial_match_score: 80
                        document_id: 4
                        manually_reviewed: true
    Submission-Details:
      description: "Expected error status codes:\r\n- 1 - Your client key is missing.\r\n- 2 - Your access key is missing.\r\n- 3 - Your client key is invalid.\r\n- 4 - Your access key is invalid.\r\n- 8 - Your submission id is missing.\r\n- 15 - Your submission id is invalid.\r\n- 35 - Your company account has been closed. Please contact your administrator.\r\n- 36 - The request input format is incorrect can you please check the input format."
      content:
        application/json:
          schema:
            type: object
            oneOf:
              - type: object
                properties:
                  firstname:
                    type: string
                    description: Customer First Name.
                    examples:
                      - John
                  lastname:
                    type: string
                    description: Customer Last Name.
                    examples:
                      - Smith
                  maidenname:
                    type: string
                    description: Customer maiden name.
                    examples:
                      - Miche
                  notes:
                    type: array
                    description: Notes stored for the submission retrieved.
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Indicates the id of the note.
                          examples:
                            - 23
                        note:
                          type: string
                          description: Contains the body of the note.
                          examples:
                            - Note
                        created_at:
                          type: string
                          description: Indicates the date and time the note was created.
                          format: date-time
                          examples:
                            - '2024-09-18 12:09:36'
                  business_representative:
                    type: string
                    description: Returns a Business Representative or Advisor name of the UUID.
                    examples:
                      - Joe Bloggs
                  email:
                    type: string
                    description: Customer Email address entered manually by user during submission.
                    examples:
                      - john.smith@gmail.com
                  account_id:
                    type: string
                    description: Returns an Account ID if it has been set either on the ID-Pal web platform or business app.
                    examples:
                      - AC2360123
                  phone_country_code:
                    type: string
                    description: Returns the country code entered manually by the user with the phone number during the submission.
                    examples:
                      - '+1'
                  phone:
                    type: string
                    description: Customer Phone Number entered manually by user during submission.
                    examples:
                      - '8870504940'
                  gender:
                    type: string
                    description: Customer Gender Identification. This may be captured from a document or entered manually by the user during the submission process.
                    examples:
                      - M
                  dob:
                    type: string
                    description: Customer Date Of Birth. This may be captured from a document or entered manually by the user during the submission process.
                    format: date
                    examples:
                      - '1980-10-10'
                  countryofbirth:
                    type: string
                    description: Customer Country of birth place. This may be captured from a document or entered manually by the user during the submission process.
                    examples:
                      - United States
                  address1:
                    type: string
                    description: First line of the customer address. This may be captured from a document or entered manually by the user during the submission process.
                    examples:
                      - 112 MARSTON STREET
                  address2:
                    type: string
                    description: Second line of the customer address. This may be captured from a document or entered manually by the user during the submission process.
                  city:
                    type: string
                    description: City of the customer. This may be captured from a document or entered manually by the user during the submission process.
                    examples:
                      - LAWRENCE
                  county:
                    type: string
                    description: County or state of the customer. This may be captured from a document or entered manually by the user during the submission process.
                    examples:
                      - MA
                  country_name:
                    type: string
                    description: Full country name of the customer. This may be captured from a document or entered manually by the user during the submission process.
                    examples:
                      - United States
                  postalcode:
                    type: string
                    description: Post code of the customer. This may be captured from a document or entered manually by the user during the submission process.
                    examples:
                      - 018412353
                  appID:
                    type: integer
                    description: 0 or 1. 0 indicates submissions made from the ID-Pal customer app. 1 indicates submissions made from the ID-Pal business app.
                    examples:
                      - 1
                  passport_expires:
                    type: string
                    description: Expiry timestamp is from passport document captured during the submission. If the app user captures only the driving licence and not passport at that instance this value will be empty.
                    format: date-time
                    examples:
                      - '2027-07-17 12:14:39'
                  idcard_expires:
                    type: string
                    description: Expiry timestamp is from driving License document captured during the submission. If the app user captures only the passport and not driving license at that instance this value will be empty.
                    format: date-time
                    examples:
                      - '2016-10-18 00:00:00'
                  os_type:
                    type: string
                    description: The os_type indicates the customer’s mobile Operating System (OS) from which the submission is made.
                    examples:
                      - 11.0.1
                  hardware_type:
                    type: string
                    description: Indicates the customer’s mobile hardware from which the submission is made.
                    examples:
                      - iPhone 7
                  free_memory:
                    type: string
                    description: Indicates the free memory in the mobile from which the submission was made.
                    examples:
                      - 83.3 MB
                  available_storage:
                    type: string
                    description: Indicates the storage space in the mobile from which the submission was made.
                    examples:
                      - 92.75 GB
                  submission_type:
                    type: string
                    description: 'Indicates the source from which the submission was made.

                      - mobileapp: Indicates that the document was captured via the mobile app.

                      - webapp-capture: Indicates that the document was captured via the web app in a mobile phone’s or tablet’s browser.

                      - webapp-upload: Indicates that the document was uploaded via a desktop or laptop browser.

                      '
                    examples:
                      - mobileapp
                  e_verification_custom_field:
                    type: object
                    description: Indicates the additional custom field submitted for the address verification during the submission.
                    properties:
                      name:
                        type: string
                        description: It indicates the eVerification custom field name.
                        examples:
                          - Social Security Number
                      value:
                        type: string
                        description: It indicates the eVerification custom field value submitted by the customer.
                        examples:
                          - 891-40-8025
                  customFields:
                    type: array
                    description: 'Returns a custom fields array if it has been set either on the ID-Pal web platform. Expected Value: If the custom fields has been set on the ID-Pal web platform it will be return in this custom Fields array, Otherwise it returns an empty array'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: It indicates id of the custom field.
                          examples:
                            - 23
                        name:
                          type: string
                          description: It indicates the custom field name has been set on the ID-Pal web platform.
                          examples:
                            - SSN
                        type:
                          type: string
                          description: 'It indicates that the custom field type has been set on the ID-Pal web platform. Possible Values: Textbox, Number, Date, Email, Dropdown, Checkbox, RadioButton.'
                          examples:
                            - TextBox
                        description:
                          type: string
                          description: It indicates that the custom field description has been set on the ID-Pal web platform.
                          examples:
                            - Enter you SSN number
                        min:
                          type: integer
                          description: It indicates that the custom field minimum value has been set on the ID-Pal web platform.
                          examples:
                            - 9
                        max:
                          type: integer
                          description: It indicates that the custom field maximum value has been set on the ID-Pal web platform.
                          examples:
                            - 9
                        required:
                          type: boolean
                          description: It indicates that the custom field required option has been set on the ID-Pal web platform.
                          default: true
                        values:
                          type: array
                          description: It indicates that the custom field values provided by the customer during the submissions.
                          items:
                            type: object
                            properties:
                              value:
                                type: string
                                examples:
                                  - '123456789'
                        options:
                          type: array
                          description: It indicates that the custom field options has been set on the ID-Pal web platform.
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: It indicates id of the custom field options.
                                examples:
                                  - 23
                              title:
                                type: string
                                description: It indicates the custom field option title has been set on the ID-Pal web platform.
                                examples:
                                  - Option 1
                  documents:
                    type: array
                    description: Indicates that it returns a documents in an array.
                    items:
                      type: object
                      properties:
                        document_id:
                          type: integer
                          description: Indicates the submission_file_id for the submission documents.
                          examples:
                            - 23
                        document_type:
                          type: string
                          description: "Indicates the type of document that was captured via the mobile app/web app.\nExpected Values: \n- passport\n- passport-uncropped\n- idcard-front\n- idcard-front-uncropped\n"
                          examples:
                            - passport-uncropped
                        document_uniquenumber:
                          type: string
                          description: Indicates the Document number/Serial number for the ID documents.
                          examples:
                            - T6433020
                        personal_id_number:
                          type: string
                          description: Indicates the ID number/Personal number for the ID documents.
                          examples:
                            - '21742407'
                        issue_date:
                          type: string
                          description: Indicates the date of issue of the ID document.
                          format: date
                          examples:
                            - '2012-01-01'
                        issue_type:
                          type: string
                          description: 'Indicates the type of the ID document.


                            Expected Values:

                            - Driver’s License

                            - Identification Card

                            - Other

                            - Passport

                            - Permit

                            - Residence Document

                            - Travel Document

                            - Unknown

                            - Visa

                            '
                          examples:
                            - Passport
                        issuer_code:
                          type: string
                          description: Indicates the ISO country code of the country that issued the ID document based on the classification through image analysis.
                          examples:
                            - USA
                        document_type_issue_year:
                          type: string
                          description: Indicates the first issuance year of the ID document type based on the classification through image analysis.
                          examples:
                            - '2014'
                        expiration_date:
                          type: string
                          description: Indicates the expiry date of the ID document based on the classification through image analysis.
                          format: date
                          examples:
                            - '2022-01-01'
                        firstname:
                          type: string
                          description: Indicates the first name as read from the document.
                          examples:
                            - JOHN
                        lastname:
                          type: string
                          description: Indicates the last name as read from the document.
                          examples:
                            - SMITH
                        maidenname:
                          type: string
                          description: Indicates the maiden name as read from the document.
                          examples:
                            - MICHAELS
                        gender:
                          type: string
                          description: Indicates the gender as read from the document.
                          examples:
                            - M
                        dob:
                          type: string
                          description: Indicates the dob as read from the document.
                          examples:
                            - '1980-10-10'
                        countryofbirth:
                          type: string
                          description: Indicates the countryofbirth as read from the document.
                        place_of_birth:
                          type: string
                          description: Indicates the birth place of the customer as read from the document.
                          examples:
                            - Kansas
                        address1:
                          type: string
                          description: Indicates the first level address as read from the document.
                          examples:
                            - MARSTON STREET
                        address2:
                          type: string
                          description: Indicates the second level address as read from the document.
                        city:
                          type: string
                          description: Indicates the city as read from the document.
                          examples:
                            - LAWRENCE
                        county:
                          type: string
                          description: Indicates the county as read from the document.
                          examples:
                            - MA
                        country_name:
                          type: string
                          description: Indicates the country name as read from the document.
                          examples:
                            - United States
                        postalcode:
                          type: string
                          description: Indicates the postal code as read from the document.
                          examples:
                            - 018412353
                        alerts:
                          type: array
                          description: Indicates the alerts for the ID documents.
                          items:
                            type: object
                            properties:
                              alert:
                                type: string
                                description: Indicates the specific alert information for the ID documents.
                                examples:
                                  - The document type could not be determined
                  e_verification_details:
                    type: object
                    description: Indicates the details of the e-verification result of the submitted information.
                    properties:
                      information:
                        type: object
                        description: It provides additional information of the e-verification result.
                        properties:
                          partial_match:
                            type: string
                            description: 'It indicates the address check for the submission have partial match. NOTE: This will appear only if the address checking resulted in a partial match.'
                          no_match:
                            type: string
                            description: 'It indicates the address check for the submission have no match. NOTE: This will appear only if the address checking resulted in a no match.'
                          match_result:
                            type: string
                            description: It indicates the result of the match between the information in the submitted document and the address database.
                            examples:
                              - The name Extracted from the customer's document doesn't match the name found in the database check.
                        name_match:
                          type: object
                          description: It indicates the result of the match between the name submitted in the document and the name in the address database.
                          properties:
                            name_extracted:
                              type: string
                              description: It indicates the name extracted from ID document.
                              example: Name Extracted from ID is JOHN SMITH
                            name_submitted:
                              type: string
                              description: It indicates the name submitted by the customer.
                              example: Name Submitted by the customer is JOHN SMITH
                            name_in_database:
                              type: string
                              description: It indicates the name found on the address database for the address.
                              example: Name found on Database for that address is JOHN SMITH
                          manual_review:
                            type: string
                            description: 'It indicates whether or not a manual review on the submission is required. NOTE: This will appear only if the address checking resulted in a partial_match or a no match.'
                      messages:
                        type: array
                        description: It contains the result of each submitted information’s result.
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: It indicates the personal information like firstname, lastname, etc.
                              examples:
                                - HOUSENUMBER
                            message:
                              type: string
                              description: It indicates match result of the information mentioned in the code.
                              examples:
                                - Full match was made on House Number/Street Number
                      overall_result:
                        type: string
                        description: It indicates the overall e-verification result for the submission.
                        examples:
                          - Full Match for 1+1 verification
                      database_source:
                        type: array
                        description: It indicates the database source of the address check.
                        items:
                          type: object
                          properties:
                            database_used:
                              type: string
                              description: It indicates the address checking database used for the submission.
                              examples:
                                - Postal1
                            description:
                              type: string
                              description: It provides a description about the database used.
                              examples:
                                - Combined loan and credit data, telephone data, voter data, and property information data
              - $ref: '#/components/schemas/Error'
          examples:
            Example 1:
              value:
                firstname: John
                lastname: Smith
                maidenname: Miche
                notes:
                  - id: 23
                    note: Note
                    created_at: '2024-09-18 12:09:36'
                business_representative: Joe Bloggs
                email: john.smith@gmail.com
                account_id: AC2360123
                phone_country_code: '+1'
                phone: '8870504940'
                gender: M
                dob: '1980-10-10'
                countryofbirth: United States
                address1: 112 MARSTON STREET
                address2: string
                city: LAWRENCE
                county: MA
                country_name: United States
                postalcode: '018412353'
                appID: 1
                passport_expires: '2027-07-17 12:14:39'
                idcard_expires: '2016-10-18 00:00:00'
                os_type: 11.0.1
                hardware_type: iPhone 7
                free_memory: 83.3 MB
                available_storage: 92.75 GB
                submission_type: mobileapp
                e_verification_custom_field:
                  name: Social Security Number
                  value: 891-40-8025
                customFields:
                  - id: 23
                    name: SSN
                    type: TextBox
                    description: Enter you SSN number
                    min: 9
                    max: 9
                    required: true
                    values:
                      - value: '123456789'
                    options:
                      - id: 23
                        title: Option 1
                documents:
                  - document_id: 23
                    document_type: passport-uncropped
                    document_uniquenumber: T6433020
                    personal_id_number: '21742407'
                    issue_date: '2012-01-01'
                    issue_type: Passport
                    issuer_code: USA
                    document_type_issue_year: '2014'
                    expiration_date: '2022-01-01'
                    firstname: JOHN
                    lastname: SMITH
                    maidenname: MICHAELS
                    gender: M
                    dob: '1980-10-10'
                    countryofbirth: string
                    place_of_birth: Kansas
                    address1: MARSTON STREET
                    address2: string
                    city: LAWRENCE
                    county: MA
                    country_name: United States
                    postalcode: '018412353'
                    alerts:
                      - alert: The document type could not be determined
                e_verification_details:
                  information:
                    partial_match: string
                    no_match: string
                    match_result: The name Extracted from the customer's document doesn't match the name found in the database check.
                  messages:
                    - code: HOUSENUMBER
                      message: Full match was made on House Number/Street Number
                  overall_result: Full Match for 1+1 verification
                  database_source:
                    - database_used: Postal1
                      description: Combined loan and credit data, telephone data, voter data, and property information data
    Submission-Alerts:
      description: "Expected Status Error codes:\r\n- 1 - Your client key is missing. Please check your post parameters.\r\n- 2 - Your access key is missing. Please check your post parameters.\r\n- 3 - Your client key is invalid. Please check your post parameters.\r\n- 4 - Your access key is invalid. Please check your post parameters.\r\n- 35 - Your company account has been closed. Please contact your administrator.\r\n- 36 - The request input format is incorrect can you please check the input format."
      content:
        application/json:
          schema:
            oneOf:
              - properties:
                  success:
                    type: boolean
                    description: This indicates that alert is received for the submissions.
                    default: true
                    examples:
                      - true
                  client_key:
                    $ref: '#/components/schemas/client_key'
                    description: The client key is a unique value used in the company.
                  message:
                    type: string
                    description: The message indicates that we have received Alert submissions.
                    examples:
                      - Alerts submission received
                  submissions:
                    type: array
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        submission_id:
                          type: integer
                          description: A unique identifier of a submission.
                          examples:
                            - 104
                        uuid:
                          $ref: '#/components/schemas/uuid'
                        alertMessage:
                          type: string
                          description: The alertMessage indicates that the submission document is going to get expired a few months.
                          examples:
                            - Expiring Document
                        documentType:
                          type: string
                          description: "Indicates the type of document that was captured via the mobile app/web app.\nExpected Values: \n- Passport\n- Driving License\n"
                          examples:
                            - Driving License
                        document_expires:
                          type: string
                          description: Indicates the customer’s document expiry date.
                          format: date-time
                          examples:
                            - '1970-01-01 00:00:00'
                        created_at:
                          type: string
                          description: Indicates the submission created date.
                          format: date-time
                          examples:
                            - '1970-01-01 00:00:00'
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                        description: A total number of submissions.
                        examples:
                          - 51
                        example: 30
                      per_page:
                        type: integer
                        description: Submissions displayed per page.
                        examples:
                          - 25
                        example: 10
                      current_page:
                        type: integer
                        description: Current pagination page.
                        examples:
                          - 2
                        example: 1
                      last_page:
                        type: integer
                        description: Number of pages.
                        examples:
                          - 3
                        example: 3
              - $ref: '#/components/schemas/Error'
            type: object
          examples:
            Example 1:
              value:
                success: true
                client_key: XXXXXXXX
                message: Alerts submission received
                submissions:
                  - submission_id: 104
                    uuid: 4XXXXXXf
                    alertMessage: Expiring Document
                    documentType: Driving License
                    document_expires: '1970-01-01 00:00:00'
                    created_at: '1970-01-01 00:00:00'
                pagination:
                  total: 51
                  per_page: 25
                  current_page: 2
                  last_page: 3
    AppProfile:
      description: "Expexted error status codes:\r\n- 1 - Your client key is missing. Please check your post parameters.\r\n- 2 - Your access key is missing. Please check your post parameters.\r\n- 3 - Your client key is invalid. Please check your post parameters.\r\n- 4 - Your access key is invalid. Please check your post parameters.\r\n- 18 - Your profile id is invalid. Please check your post parameters.\r\n- 19 - Your profile id is missing. Please check your post parameters.\r\n- 35 - Your company account has been closed. Please contact your administrator.\r\n- 36 - The request input format is incorrect can you please check the input format."
      content:
        application/json:
          schema:
            type: object
            oneOf:
              - type: object
                properties:
                  success:
                    type: boolean
                    description: This indicates that retrieving the profile details was successful.
                    default: true
                  profile:
                    type: array
                    description: Returns each profile in the company with the profile details set in the ID-Pal web platform. If the profiles have been set on the ID-Pal web platform, they will be returned in this profiles array. Otherwise, it returns the Default profile in the array.
                    items:
                      type: object
                      properties:
                        profile_id:
                          type: integer
                          description: This indicates the id of the profile used for the submission.
                          examples:
                            - 4
                        profile_name:
                          type: string
                          description: This indicates the name of the app profile used for the submission.
                          examples:
                            - Default Profile
                        customerAppPreferences:
                          type: array
                          description: This indicates the customer app preferences of profile that has been set on the ID-Pal web platform. It returns an array of settings set in the profile.
                          items:
                            type: object
                            properties:
                              title:
                                type: string
                                enum:
                                  - Number of required ID documents
                                  - Maximum Additional Documents (post submission)
                                  - Maximum number of liveness test retakes allowed for the user
                                  - Maximum number of pages per Additional Document
                                  - Real-time decisioning
                                  - Liveness test
                                  - Video capture for passport
                                  - One page passport capture
                                  - Enable Address Database Checking
                                  - Personal Information Optional
                                  - Address Information Optional
                                  - Contact Information Optional
                                description: It indicates the name of the setting in the app profile in the ID-Pal web platform.
                                examples:
                                  - Number of required ID documents
                              field_type:
                                type: string
                                enum:
                                  - DropDown
                                  - Boolean
                                description: It indicates the type of the field in the app profile that has been set on the ID-Pal web platform.
                                examples:
                                  - DropDown
                              value:
                                type: integer
                                description: It indicates the value set for the field in the profile.
                                examples:
                                  - 1
                              options:
                                type: array
                                description: It indicates the options available if the field type is a dropdown.
                                items:
                                  type: object
                                  properties:
                                    title:
                                      type: integer
                                      description: It indicates the value listed in the dropdown.
                                      examples:
                                        - 1
                                    value:
                                      type: integer
                                      description: It indicates the value of the list item in the dropdown.
                                      examples:
                                        - 1
                        businessAppPreferences:
                          type: array
                          description: This indicates the business app preferences of profile that has been set on the ID-Pal web platform. It returns an array of settings set in the profile.
                          items:
                            type: object
                            properties:
                              title:
                                type: string
                                enum:
                                  - Number of required ID documents
                                  - Maximum Additional Documents (post submission)
                                  - Maximum number of liveness test retakes allowed for the user
                                  - Maximum number of pages per Additional Document
                                  - Real-time decisioning
                                  - Liveness test
                                  - Video capture for passport
                                  - One page passport capture
                                  - Enable Address Database Checking
                                  - Personal Information Optional
                                  - Address Information Optional
                                  - Contact Information Optional
                                description: It indicates the name of the setting in the app profile in the ID-Pal web platform.
                                examples:
                                  - Maximum Additional Documents (post submission)
                              field_type:
                                type: string
                                enum:
                                  - DropDown
                                  - Boolean
                                description: It indicates the type of the field in the app profile that has been set on the ID-Pal web platform.
                                examples:
                                  - Boolean
                              value:
                                type: integer
                                description: It indicates the value set for the field in the profile.
                                examples:
                                  - 1
                              options:
                                type: array
                                description: It indicates the options available if the field type is a dropdown.
                                items:
                                  type: object
                                  properties:
                                    title:
                                      type: integer
                                      description: It indicates the value listed in the dropdown.
                                      examples:
                                        - 1
                                    value:
                                      type: integer
                                      description: It indicates the value of the list item in the dropdown.
                                      examples:
                                        - 1
                        customFields:
                          type: array
                          description: Returns a custom fields array if it has been set either on the ID-Pal web platform. If the custom fields have been set on the ID-Pal web platform, they will be returned in this custom fields array. Otherwise, it returns an empty array.
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                description: It indicates id of the custom field.
                                examples:
                                  - 348
                              name:
                                type: string
                                description: It indicates the custom field name has been set on the ID-Pal web platform.
                                examples:
                                  - SSN
                              type:
                                type: string
                                enum:
                                  - TextBox
                                  - Number
                                  - Date
                                  - Email
                                  - DropDown
                                  - CheckBox
                                  - RadioButton
                                description: It indicates that the custom field type has been set on the ID-Pal web platform.
                                examples:
                                  - TextBox
                              description:
                                type: string
                                description: It indicates that the custom field description has been set on the ID-Pal web platform.
                                examples:
                                  - Enter your SSN number
                              min:
                                type: integer
                                description: It indicates that the custom field minimum value has been set on the ID-Pal web platform.
                                minimum: 0
                                maximum: 29
                                examples:
                                  - 1
                              max:
                                type: integer
                                description: It indicates that the custom field maximum value has been set on the ID-Pal web platform.
                                maximum: 30
                                examples:
                                  - 9
                              required:
                                type: boolean
                                description: It indicates that the custom field required option has been set on the ID-Pal web platform.
                                examples:
                                  - true
                              options:
                                type: array
                                description: 'It indicates that the custom field options has been set on the ID-Pal web platform. Note: The options field should return only for the data types as Dropdown, Checkbox, RadioButton.'
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      description: It indicates id of the custom field options.
                                      examples:
                                        - 290
                                    title:
                                      type: string
                                      description: It indicates the custom field option title has been set on the ID-Pal web platform.
                                      examples:
                                        - test
                        customerProofOfAddressDocuments:
                          type: array
                          description: This indicates the customer app preferences POA has been set on the ID-Pal web platform.
                          items:
                            type: string
                        businessProofOfAddressDocuments:
                          type: array
                          description: This indicates the business app preferences POA has been set on the ID-Pal web platform.
                          items:
[...]
